@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-oxford-blue-2);
  color: var(--text-color);
  /* color: var(--text-shadow-blue); */
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  /**
     * COLORS
     */

  /** Background colors */
  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(222, 44%, 13%, 1);
  --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #0ef;

  /** Text colors */
  --text-color: #fff;
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);

  /** Border colors */
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);

  /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  /**
     * TYPOGRAPHY
     */

  --section-padding: 70px;

  /** Font family */
  --fontFamily-noto_sans: "Noto Sans", sans-serif;
}



.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	position: absolute;
  bottom: 0px;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}




section {
  min-height: 80vh;
  padding: 10rem 15% 2rem;
}

#resume-link-1 {
  width: 125px;
  height: 38px;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(45deg, #111, #333);
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 7px;
  border-radius: 10px; /* Further increased border-radius for smoother corners */
  text-decoration: none;
  box-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px rgba(255, 255, 255, 0.4),
    0 0 35px rgba(255, 255, 255, 0.3),
    0 0 40px rgba(255, 255, 255, 0.2),
    0 0 50px rgba(255, 255, 255, 0.1),
    0 0 75px rgba(255, 255, 255, 0.05);
  animation: glowing 2s ease-in-out alternate infinite;
  transition: all 0.3s ease-in-out;
}
#resume-link-1 :hover {
  color: #ff0;
  background: linear-gradient(45deg, #333, #555);
  box-shadow: 
    0 0 10px #fff,
    0 0 20px #ff0,
    0 0 30px #ff0,
    0 0 40px rgba(255, 255, 0, 0.5),
    0 0 55px rgba(255, 255, 0, 0.4),
    0 0 70px rgba(255, 255, 0, 0.3),
    0 0 85px rgba(255, 255, 0, 0.2),
    0 0 100px rgba(255, 255, 0, 0.1);
}

@keyframes glowing {
  0% {
    box-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px rgba(255, 255, 255, 0.4),
      0 0 35px rgba(255, 255, 255, 0.3),
      0 0 40px rgba(255, 255, 255, 0.2),
      0 0 50px rgba(255, 255, 255, 0.1),
      0 0 75px rgba(255, 255, 255, 0.05);
  }
  100% {
    box-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px rgba(255, 255, 255, 0.5),
      0 0 55px rgba(255, 255, 255, 0.4),
      0 0 70px rgba(255, 255, 255, 0.3),
      0 0 85px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-oxford-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bg-oxford-blue-2); */


}
#nav-menu a {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 3rem;
  text-transform: uppercase;
}

#nav-menu {
  list-style: none;
  display: flex;

  background: var(--bg-oxford-blue);
}
#nav-menu a:hover,
#nav-menu a.active {
  color: var(--bg-carolina-blue);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  color: rgb(255, 255, 255);
}


/*  */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}
.home-img img {
  width: 40vw;

  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--bg-carolina-blue);
}
.home-content h1 {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--bg-carolina-blue);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--bg-carolina-blue);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--bg-carolina-blue);
  color: var(--bg-oxford-blue);
  box-shadow: 0 0 1rem var(--bg-carolina-blue);
}

.button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-carolina-blue);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--bg-carolina-blue);
  font-size: 1.6rem;
  color: var(--bg-oxford-blue);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  border: 1px solid black;
}
.button:hover {
  box-shadow: none;
}


/*  */
.hero-bg {
  display: none;
}
/* .home-image { position: relative; } */

/* .home-image .home-img {
  max-width: max-content;
  margin-inline: auto;
} */

.home .shape {
  position: absolute;
  z-index: -1;

  animation: homeDecoAnim 3s linear infinite alternate;
}

@keyframes homeDecoAnim {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0.4turn);
  }
}

.home .shape-1 {
  top: 50px;
  right: 40px;
}

.home .shape-2 {
  bottom: 20px;
  left: 24px;
}

/* me */

/*-----------------------------------*\
    #ABOUT SECTION
  \*-----------------------------------*/

#about {
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-oxford-blue);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 4rem;
}

.about-content h3 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.9rem;
  margin: 7rem 0 0rem;
  text-align: justify;
}

/*-----------------------------------*\
    #SKILSS 
  \*-----------------------------------*/

#skills h2 {
  margin-bottom: 5rem;
}
.skills-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-card-1 {
  flex: 1 1 30rem;
  background: var(--bg-oxford-blue);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--border-prussian-blue);
  transition: 0.5s ease;
}
.skills-container .skills-card-1:hover {
  border-color: var(--bg-carolina-blue);
  transform: scale(1.02);
}
.skills-card-1 i {
  font-size: 7rem;
  color: var(--bg-carolina-blue);
}
.skills-card-1 h3 {
  font-size: 2.6rem;
}
.skills-card-1 p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*-----------------------------------*\
    #Projects
  \*-----------------------------------*/

.project {
  background: var(--bg-oxford-blue);
}
.project h2 {
  margin-bottom: 4rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}




/* .container{
  min-height: 80vh;
    padding: 2rem 15% 2rem;
} */

.project-container .project-card {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-carolina-blue);
  overflow: hidden;
  display: flex;
}
.project-card img {
  width: 100%;
  transition: 0.5s ease;
}
.project-card:hover img {
  transform: scale(1.1);
}

.project-card .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--bg-prussian-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translate(100%);
  transition: 0.5s ease;
}
.project-card:hover .project-layer {
  transform: translateY(0);
}

.project-layer h4 {
  font-size: 3rem;
}
.project-tech-stack {
  font-size: 2rem;
}
.project-layer p {
  font-size: 1.5rem;
  margin: 0.3rem 0 1rem;

}
.project-layer a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.project-layer a i {
  font-size: 2rem;
  color: var(--bg-oxford-blue-2);
  margin-top: 12px;
}
.projectlinks {
  display: flex;
}

.projectlinks a {
  text-align: center;
}

/*-----------------------------------*\
    #Contact
  \*-----------------------------------*/
/*   
  .contact {
    color: var(--bg-prussian-blue);
  }
  
  .contact h2 {
    margin-bottom: 3rem;
  }
  
  .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-alice-blue);
    background: var(--bg-prussian-blue);
    border-radius: .8rem;
    margin: .7rem 0;
  }
  .contact form .input-box input {
    width: 49%;
  }
  .contact form textarea {
    resize: none;
  }
  
  .contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
  /*-----------------------------------*\
    #Tech Stacks
  \*-----------------------------------*/

.tags .grid-list {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}



.tag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  border-radius: var(--radius-16);
}

.tag-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(
      var(--bg-oxford-blue),
      var(--bg-oxford-blue)
    ),
    var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.tag-btn img {
  width: 100%;
  max-width: 32px;
}

.grid-list {
  display: grid;
  gap: 30px;
  list-style: none;
}

.skills-card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
  justify-content: center;
}
.skills-card-name {
  color: #c8cdd6;
}

/*-----------------------------------Contact----------------------------------------*/

#contact {
  background-color: var(--bg-oxford-blue);
  padding: 4rem 0;
  text-align: center;
}

#contact > div > p {
  color: #fff;
  margin-bottom: 1rem;
}

.contact_me {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.contact_me > p > a > span {
  text-decoration: underline;
}

.contact_me > div {
  margin-top: 1.5rem;
}

.contact_me > a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.contact_me > a:hover {
  opacity: 0.7;
}

.contact_me > a > i {
  font-size: 40px;
}

.contact_me > p {
  margin-bottom: 1.5rem;
}

.project-link {
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

#contact-linkedin i {
  margin-right: 40px;
}

#contact-github i {
  margin-right: 40px;
}

.project-link:hover i {
  color: var(--bg-carolina-blue);
  transition: color 0.3s ease-in, background-color 0.3s ease-in,
    border-color 0.3s ease-in;
  scale: 110%;
  transform: translate3d(0px, -16px, 0px);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
.contact_me > div > a > i {
  transform: translate3d(0px, -8px, -8px);
}

/* github */
#github-stats {
  margin-bottom: 70px;
  padding-top: 45px;
  min-height: 80vh;
  padding: 10rem 15% 2rem;

}

#resume-button-2 {
  list-style: none;
}

#github-stats {
  justify-content: center;
}
/* ----------------------------------------------------------------- */

/*-----------------------------------*\
 /* footer */
/* \*-----------------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);

}

.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--bg-carolina-blue);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--bg-carolina-blue);
}

/* ======== BREAKPOINTS */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .skills {
    padding-bottom: 7rem;
  }
  .project {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
  #github-streak-stats {
    width: 80%;
  }
  #github-stats-card {
    width: 80%;
  }
  #github-top-langs {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  #nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0px;
    background: hsl(222deg 44% 13% / 88%);
    /* background: var(--bg-oxford-blue); */
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    TEXT-ALIGN: -WEBKIT-CENTER;
  }
  #nav-menu.active {
    display: block;
  }
  a.nav-link.skills {
    padding: 0;
  }
  #nav-menu a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    padding-left: 10px;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img {
    width: 70vw;

    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .skills h2 {
    margin-bottom: 3rem;
  }

  .project h2 {
    margin-bottom: 3rem;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-content{
    width: 90%;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}
@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
.calender {
  margin: 20px;
}

@media (min-width: 575px) {
  .home {
    position: relative;
  }

  .hero-bg {
    display: block;
    position: absolute;
    pointer-events: none;
  }

  .hero-bg-1 {
    top: 80px;
    left: 0;
  }

  .hero-bg-2 {
    bottom: -200px;
    left: -20px;
  }

  .shape-2 {
    left: 60px;
  }
}















/* Job Experience Section */
/* Job Experience Section */
.job-experience {
  padding: 2rem 15% 2rem;
  background-color: #131B30;
}

/* Job Title */
.job-title {
  font-weight: bold;
  margin-bottom: 3px; /* Add space below job title */
  font-size: 1.5rem;
  color: #0EA8EB;
}

/* Job Period */
.job-period {
  font-style: italic;
  color: #666; /* Dark gray color for job period */
  margin-bottom: 10px; /* Add space below job period */
  font-size: 1rem;
}

/* Job Details */
.job-details {
  list-style-type: disc; /* Use disc bullets for list items */
  padding-left: 20px; /* Add some left padding to the list */
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Individual Job Detail Items */
.job-details li {
  margin-bottom: 5px; /* Add space between list items */
}

/* Additional Styling for Links (if any) */
.job-details a {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Smooth transition for link color change */
}

/* Hover Effect for Links */
.job-details a:hover {
  color: #0056b3; /* Darker blue color on hover */
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .job-experience {
    padding: 3rem 2% 1rem;
  }
  
  /* Adjust font sizes for better readability on smaller screens */
  .job-title {
    font-size: 1.5rem;
  }
  
  .job-period {
    font-size: 1rem;
  }
  
  .job-details {
    font-size: 1.3rem;
  }
}
